.about-us{
    width: 100%;
    text-align: center;
}

.column-about-hug{
    flex:1;
    margin:5%;
    margin-top:5%;
}

.column-about {
    float: left;
    width: 50%;
    height: 35rem;
}
 
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

hr.hr-about {
	position: relative;
	display:flex;
	margin-top:3%;
	flex:1;
	border: 1px solid #000000;
	width:auto;
	text-align: center;
}
hr.hr-about-column{
	position: relative;
	display:flex;
	margin-top:5%;
	flex:1;
	border: 1px solid #000000;
	max-width:2.5em;
	width:auto;
	text-align: center;
}

.column-heading{
    padding-top:10%;
    padding-bottom: 5%;
    text-transform: uppercase;
    font-weight: 200;
}

.column-about p{
    overflow-x: hidden;
    width:auto;
	font-size:16px;
    font-size: small;
    text-align:left;
    vertical-align: middle;
    padding-left:4em;
}

@media only screen and (max-width: 645px){
    .column-about p{
        font-size: smaller;
    }
}

@media only screen and (max-width: 425px){
    .column-about p{
        font-size:x-small;
    }
}

@media only screen and (max-width:600px){
    .column-about{
		width:75%;
		height:auto;
		margin:2em;
    }
}

.column-about img{
	height:100%;
	width:100%;
}