.about-us{
    width: 100%;
    text-align: center;
}

.column-about-hug{
    flex:1;
    margin:5%;
    margin-top:5%;
}

.column-about {
    float: left;
    width: 50%;
    height: 35rem; /* Should be removed. Only for demonstration */
}
 
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

hr.hr-about {
	position: relative;
	display:flex;
	margin-top:3%;
	flex:1;
	border: 1px solid #000000;
	width:auto;
	text-align: center;
}
hr.hr-about-column{
	position: relative;
	display:flex;
	margin-top:5%;
	flex:1;
	border: 1px solid #000000;
	max-width:2.5em;
	width:auto;
	text-align: center;
}

.column-heading{
    padding-top:10%;
    padding-bottom: 5%;
}

.column-about p{
    overflow-x: hidden;
    width:35em;
	font-size:16px;
    padding-left: 30%;
    padding-bottom: 20%;
    font-size: small;
    text-align:justify;
    display: inline-block;
    vertical-align: middle;
    
    @media only screen and (max-width: 750px){					
        max-width:200px;
    }    
}

.column-about img{
	height:100%;
	width:100%;
}		